<?xml version="1.0"?>

<!-- 
  Copyright 2012 Applied Geographics, Inc.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<!--
  Authentication Options
    You must configure this instance of the GPV to use one of the following authentication methods:
    
    * No authentication (public access, the default)
    * Windows authentication
    * Database authentication
    * Certificate authentication
    
    Uncomment all the sections below that are associated with the option of your choice.  Comment out the
    sections for all other types of authentication.  See https://wiki.appgeo.com/GPVWiki/SecuringTheGPV.ashx 
    for complete instructions including required IIS virtual directory settings.
-->

<configuration>
  <appSettings>
    <!-- =====  Database authentication ===== -->
    <!-- <add key="FormsAuthenticationMode" value="Database" /> -->
    <!-- ==================================== -->

    <!-- =====  Certificate authentication ===== -->
    <!-- <add key="FormsAuthenticationMode" value="Certificate" /> -->
    <!-- <add key="CertificateUserField" value=""/> -->
    <!-- ======================================= -->

    <add key="AppIsAvailable" value="yes"/>                        <!-- yes or no -->
    <add key="AppStatusMessage" value="The General Purpose Viewer is up and running."/>
    
    <add key="AdminEmail" value="gpvadmin@agency.gov"/>
    <add key="AdminOnlyShowApps" value="no"/>                      <!-- yes or no -->

    <add key="ConfigTablePrefix" value="GPV31"/>

    <add key="FullExtent" value="373437,2936553,395362,2984664"/>  <!-- min X, minY, max X, max Y in map units -->
    <add key="ZoomLevels" value="17"/>                             <!-- number > 0 -->
    <add key="MapUnits" value="feet"/>                             <!-- feet or meters -->
    <add key="MeasureUnits" value="feet"/>                         <!-- feet, meters or both -->
    <add key="ShowScaleBar" value="no"/>                           <!-- yes or no -->
    
    <add key="Projection" value="LambertConformalConic"/>          <!-- LambertConformalConic or TransverseMercator -->
    <add key="Spheroid" value="GRS80"/>                            <!-- GRS80, Clarke1866, or Sphere -->
    <add key="CentralMeridian" value="-71.5"/>                     <!-- degrees -->
    <add key="OriginLatitude" value="41"/>                         <!-- degrees -->
    <add key="StandardParallel1" value="41.7166666666667"/>        <!-- degrees, Lambert Conformal Conic only -->
    <add key="StandardParallel2" value="42.6833333333333"/>        <!-- degrees, Lambert Conformal Conic only -->
    <add key="ScaleFactor" value="0"/>                             <!-- degrees, Transverse Mercator only -->
    <add key="FalseEasting" value="200000"/>                       <!-- meters -->
    <add key="FalseNorthing" value="750000"/>                      <!-- meters -->
    
    <add key="DatumShiftX" value="0"/>                             <!-- meters -->
    <add key="DatumShiftY" value="0"/>                             <!-- meters -->
    
    <add key="ActiveColor" value="Yellow"/>                        <!-- HTML color spec -->
    <add key="ActiveOpacity" value="0.5"/>                         <!-- 0.0 = transparent -> 1.0 = opaque -->
    <add key="ActivePolygonMode" value="fill"/>                    <!-- fill or outline -->
    <add key="ActivePenWidth" value="9"/>                          <!-- pixels -->
    <add key="ActiveDotSize" value="13"/>                          <!-- pixels -->
    
    <add key="TargetColor" value="Orange"/>                        <!-- etc. -->
    <add key="TargetOpacity" value="0.5"/>
    <add key="TargetPolygonMode" value="fill"/>
    <add key="TargetPenWidth" value="9"/>
    <add key="TargetDotSize" value="13"/>
    
    <add key="SelectionColor" value="Blue"/>
    <add key="SelectionOpacity" value="0.5"/>
    <add key="SelectionPolygonMode" value="fill"/>
    <add key="SelectionPenWidth" value="9"/>
    <add key="SelectionDotSize" value="13"/>
    
    <add key="FilteredColor" value="#A0A0A0"/>
    <add key="FilteredOpacity" value="0.5"/>
    <add key="FilteredPolygonMode" value="fill"/>
    <add key="FilteredPenWidth" value="9"/>
    <add key="FilteredDotSize" value="13"/>
    
    <add key="BufferColor" value="#A0A0FF"/>
    <add key="BufferOpacity" value="0.20"/>
    <add key="BufferOutlineColor" value="#8080DD"/>
    <add key="BufferOutlineOpacity" value="0"/>
    <add key="BufferOutlinePenWidth" value="0"/>

    <add key="SwatchTileWidth" value="20"/>                        <!-- pixels -->
    <add key="SwatchTileHeight" value="20"/>                       <!-- pixels -->
    <add key="LegendExpanded" value="yes"/>                        <!-- yes or no -->

    <add key="PreserveOnActionChange" value="selection"/>          <!-- target or selection -->
    
    <add key="CustomStyleSheet" value=""/>                         <!-- URL -->

    <add key="ExportFormat" value="xls"/>                          <!-- csv (comma-separated value) or xls (Excel 2003) -->
    
    <add key="IdentifyPopup" value="multiple" />                   <!-- single or multiple -->
    <add key="IdentifyWindowWidth" value="250" />                  <!-- pixels -->
    <add key="IdentifyWindowHeight" value="400" />                 <!-- pixels -->
    <add key="DataTabLinkWindowName" value=""/>
    
    <add key="MarkupTimeout" value="14"/>                          <!-- days -->
    
    <add key="ServerImageCacheTimeout" value="60"/>                <!-- seconds -->
    <add key="BrowserImageCacheTimeout" value="60"/>               <!-- seconds -->
  </appSettings>
  
  <connectionStrings>
    <!-- Oracle example -->
    <!-- <add name="DBConnection" connectionString="Provider=OraOLEDB.Oracle;OLEDB.NET=true;PLSQLRSet=true;Data Source=GPVHost;User ID=GPVUser;Password=GPVPassword"/> -->
    <!-- SQL Server example -->
    <!-- <add name="DBConnection" connectionString="Provider=sqloledb;Data Source=GPVHost;Initial Catalog=GPVDatabase;User Id=GPVUser;Password=GPVPassword"/> -->
  </connectionStrings>

<!-- 
  To Enable Map Server Trace Logging - Uncomment the <system.diagnostics> element, set
    the switch that is appropriate for your map server to 1, specify an appropriate log
    file name, and add compilerOptions to the <compiler> element below.
  NOTE: Make sure the identity running this web app (local ASPNET user in IIS 6, identity 
    for the application pool in IIS 7) has write access to the specified log file.
    USE SPARINGLY - the log file will grow large very quickly.
-->
  <!--
  <system.diagnostics>
    <switches>
      <add name="ArcXmlTrace" value="0"/>
      <add name="AgsTrace" value="0"/>
    </switches>
    <trace autoflush="true">
      <listeners>
        <add name="LogWriter" initializeData="c:\temp\trace.log"
          type="System.Diagnostics.TextWriterTraceListener, System, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </listeners>
    </trace>
  </system.diagnostics>
  -->

  <system.web>
    <!-- =====  No authentication ===== -->
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" defaultUrl="~/Admin/Applications.aspx" name=".GPVAuth">
        <credentials passwordFormat="Clear">
          <user name="admin" password="admin"/>
        </credentials>
      </forms>
    </authentication>
    <!-- ============================== -->

    <!-- =====  Windows authentication ===== -->
    <!--<authentication mode="Windows"/>-->
    <!-- =================================== -->

    <!-- =====  Database or Certificate authentication ===== -->
    <!--
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" defaultUrl="~/Viewer.aspx" name=".GPVAuth" />
    </authentication>
    -->
    <!-- =================================================== -->

    <!-- =====  No authentication ===== -->
    <authorization>
      <allow users="*"/>
    </authorization>
    <!-- ============================== -->

    <!-- =====  Windows, Database or Certificate authentication ===== -->
    <!--
    <authorization>
      <deny users="?" />
    </authorization>
    -->
    <!-- ============================================================ -->

    <customErrors mode="RemoteOnly" defaultRedirect="Error.aspx" />

    <compilation debug="true">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>

  <location path="Status.aspx" allowOverride="true">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <system.codedom>
    <compilers>
<!-- 
  To Enable Map Server Trace Logging - Add this attribute to the next
    <compiler> element:  compilerOptions="/d:TRACE"
-->
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
</configuration>
